<section class="admin-categories-index">

  <header class="page-header">
    <h2>Admin &raquo; All Categories</h2>
  </header>

  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
          <% @categories.each do |category| %>
            <tr>
              <td><h4><%= category.name %></h4></td>
              <td>
                <%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>

  </div>

</section>