<section class="categories-show">

  <header class="page-header">
    <h2>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h2>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
