<br>
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <dl class="dl-horizontal">
        <dt><p>Rating</p></dt>
        <dd><%= review.rating %></dd>
        <dt><p>Description</p></dt>
        <dd><%= review.description %></dd>
      </dl>
    </div>
  </div>
</div>