<tr>
  <td><span class="badge badge-pill badge-primary"><%= review.rating %></span>
</td>
  <td><%= review.description %></td>
  <td>
<% if current_user.present? && review.user.id == current_user.id %>
<%= link_to fa_icon('trash'), product_review_path(@product.id, review.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
  </td>
</tr>